<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="am.bibton">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".Bibton"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.activities.profileActivity.editPersonalInfoActivities.changePhoneNumberActivity.counrtySearchActivity.CountrySearchActivity">

        </activity>
        <activity
            android:name=".view.activities.profileActivity.editPersonalInfoActivities.changePhoneNumberActivity.ChangePhoneNumberActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activities.profileActivity.editPersonalInfoActivities.EditCountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.profileActivity.PersonalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.profileActivity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.bibtonToBibtonActivity.transferWasDoneActivity.TransferWasDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.bibtonToBibtonActivity.writeCodeActivityForMoneyTranfer.WritePassCodeActivity"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".view.activities.bibtonToBibtonActivity.sendMoneyActivityViaFingerprint.SendMoneyActivityViaFingerprint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.bibtonToBibtonActivity.bibtonToBibton.BibtonToBibtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.bibtonToBibtonActivity.bibtonToBibtonList.BibtonToBibtonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ratesActivity.addSecondAlertPairActivity.SecondAlertPairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ratesActivity.addAlertActivity.AddAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ratesActivity.addConvertActivity.AddConvertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ratesActivity.addRateActivity.AddRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ratesActivity.RatesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activities.homeActivity.DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.exchangeActivity.ExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.homeActivity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.splashscreenactivities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.welcomeActivity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>


</manifest>